@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* navbar styles start */
nav{
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    width: 100%;
    height: 130px;
    align-items: center;
}
.nav-list > ul > li{
    list-style: none;
   
}
.nav-list li a{
    text-decoration: none;
    color: #3C354F;
    font-size: 1.10rem;
    font-weight: 500;
}
.li-box{
    width: 220px;
    height: 50px;
    display: flex;
    list-style: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    align-items: center;
    padding-left: 20px;
    
}
.ytb{
    width: 30px;
    height: 25px;
    padding-left: 20px;
}
.tik{
    width: 24px;
    height: 25px;
    padding-left: 15px;
}
.nav-list > ul{
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.img .m{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 700;
}
.m h2{
    margin-bottom: 10px;
}
.img{
    width: 80px;
    height: 40px;
}
.g-clr{
    color: #FF42A5;
}
/* navbar styles close */

/* banner desing */
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
   margin: 50px;
}
.banner-content h1, h2, p{
    padding-top: 10px;
}
.banner-content h2{
    color: #0B0223;
    font-weight: 600;
    font-size: 3rem;
}
.banner-content h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 5rem;
    font-weight: 800;
}
.banner-content p{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}
.banner p svg{
    width: 20px;
}
.btn .s-in{
    background-color: #FF42A5;
    width: 85px;
    height: 50px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 10px;
    color: #fff;
    font-size: 1.10rem;
    font-weight: 600;
}
.btn .gr{
    background-color: #4EC5F7;
    border: none;
    width: 120px;
    height: 50px;
    border-radius: 20px;
    color: #fff;
    font-size: 1.10rem;
    font-weight: 600;
    
}
/* banner desing close */

/* new section */
.section{
    display: flex;
    align-items: center;
}
.section h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 3rem;
    font-weight: 700;
}
.section p{
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
}
.ph{
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
}
.bton{
    background-color: #FF42A5;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 10px;
    color: #fff;
    font-size: 1.10rem;
    font-weight: 500;
}
.para{
    text-align: right;
}
/* close */

/* funny video part  */
.funny{
    text-align: center;
}
.funny h1 {
    font-size: 3rem;
    font-weight: 700;
}
.funny p{
    font-size: 1rem;
    color: #534C64;
    font-weight: 400;
}
.fun{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}
.card-img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;

}
.card-img .emg{
    width: 250px;
   margin-left: 50px;

}
.fun-p{
    margin-left: 50px;
    color: #534C64;
    font-size: 1.20rem;
    font-weight: 500;
}
.emg:hover{
    color: #f158d7;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;

}
/*  */
.features{
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: space-around;
    margin-top: 50px;
}
.features-img img{
    height: 90%;
    margin-left: 90px;
}
.imu{
    width: 320px;
    height: 360px;position: relative;
    bottom: 300px;
}

.play{
    color: #F948B2;
}
.feature-p h2{
    font-size: 48px;
    font-weight: 700;
}
.feature-p p{
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
}


/* mobile device responsive */
@media screen and (max-width:576px) {
    nav, .nav-list > ul, .section,
    .features
    {
        flex-direction: column;
    }
    .banner{
        flex-direction: column-reverse;
    }
   nav{
    margin-top: 50px;
   }
   .bgrc{
    margin-top: 20px;
   }
   .section .image{
    padding: 0px 50px;
   }
   .card-img{
    grid-template-columns: repeat(1, 1fr);
   }
   .funny{
    margin-top: 20px;
   }
   .feature-p{
    margin-bottom: 40px;
   }
   

}



/* medium device responsive */
@media screen and (min-width:576px) and (max-width:992px) {
    nav, .nav-list > ul, .section,
    .features
    {
        flex-direction: column;
        /* gap: 30px; */
    }
    .banner{
        flex-direction: column-reverse;
    }
    nav{
        margin-top: 50px;
    }
    .card-img{
        grid-template-columns: repeat(2, 1fr);
        margin-top: 50px;
    }
    .funny{
        margin-top: 50px;
    }
    .feature-p{
        margin-bottom: 40px;
    }
}